/*! 0 to ...*/
body {
  background-color: red;
}

@media all and (max-width: 768px) {
  /*! 0 to 768*/
  body {
    background-color: green;
  }
}

@media all and (max-width: 480px) {
  /*! 0 to 480*/
  body {
    background-color: yellow;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  /*! 300 to 600*/
  body {
    background-color: pink;
  }
}
